:root {
  color-scheme: light dark;
  --sand-100: hsl(38, 70%, 95%);
  --sand-300: hsl(37, 63%, 89%);
  --sand-500: hsl(33, 14%, 62%);
  --sand-600: hsl(33, 14%, 54%);
  --sand-800: hsl(33, 14%, 34%);
  --teal-200: hsl(190, 89%, 87%);
  --teal-300: hsl(190, 89%, 80%);
  --teal-400: hsl(190, 89%, 73%);
  --teal-500: hsl(190, 89%, 62%);
  --teal-900: hsl(190, 89%, 26%);
  --teal-700: hsl(190, 89%, 42%);
  --color-surface: light-dark(var(--sand-100), #252420);
  --color-border: light-dark(#2A2F33, #2A2F33);
  --color-text: light-dark(#0F1214, #EDEEEF);
  --color-button-accent: light-dark(var(--teal-900), var(--teal-300));
  --color-textfield-border: light-dark(var(--sand-600), var(--sand-100));
  --color-body: light-dark(color-mix(in srgb, var(--sand-100), #fff 95%), color-mix(in srgb, var(--sand-300), #000 90%));
}
